a:link {
    color: #000000;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}

button {
    width: 105px;
}

input {
    width: 55px;
}

body {
    font-size: medium;
}